html{
    
}

body{
    background-color: #272822;
    color: #F8F8F2;
    width: 1024px;
    margin: 10px auto;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

div.appear {
    width: 250px; 
    border: #000 2px solid;
    background:#F8F8F8;
    position: relative;
    top: 5px;
    left:15px;
    display:none;
    padding: 0 20px 20px 20px;
    z-index: 1000000;
    color: #000000;
}
div.hover  {
	display:inline;
    cursor:pointer;
    width: 5px;
}
div.hover:hover div.appear {
    display:inline;
}

.sarme-body {
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 0px 100px 0px rgba(140,138,138,1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(140,138,138,1);
    box-shadow: 0px 0px 100px 0px rgba(140,138,138,1);

    border-radius: 5px;
}